<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homestyle.css">
    <title>Edit Product</title>
</head>
<body class="differ">
    <div class="container">
    <form action="/update" method="POST" >
        <h1 style="font-size: 50px; margin-bottom: 50px;">Update Product</h1>
        <input type="hidden" name="id" value="{{product._id}}">
            <br>
            <div class="add">
                <label>ID:</label> 
                <input type="text" name= "txtId" style="margin-left: 25px;" value="{{product.id}}">
            </div>
            <br>
            <div class="add">
                <label>Name:</label> 
                <input type="text" name="txtName" value="{{product.name}}">
            </div>
                <br>
            <div class="add">
                <label>Price:</label> 
                <input type="text" name="txtPrice" value="{{product.price}}">
            </div>
                <br>
            <div class="add">
                <label>Image:</label> 
                <input type="text" name="imgURL" value="{{product.imgUrl}}">              
            </div>
            <br>
            <div class="add">
                <label>Quantity:</label> 
                <input type="text" name="txtQuantity" style="margin-right: 15px;" value="{{product.quantity}}">
                
            </div>
            <input type="submit" value="Update" class="submit">
        </form>
    </div>
</html>